# Dependecies / Virtual Envirorements
node_modules
.venv

# Dumps, Dumps from frida-il2cpp-bridge, APKs
dump
app_process64
# exclude only from root, not from src
/data/

# Output of building
dist

# Local build counter
.build-counter

# Agents
AGENTS.md

# Temp
temp

# Sonolus Wiki, you can obtain one here https://github.com/Sonolus/wiki 
SonolusWiki

# Nix
.direnv
